.contractInput {
  border: none;
  outline: none;
  border: solid 2px grey;
  font-size: 1.5em;
  background: transparent;
  padding: 0px;
  display: inline-block;
  border-radius: 10px;
  transition: 0.5s;
  color:white;

}

.contractInput:focus {
    border:none;
    border-radius: 0px;
    border-bottom: solid 2px grey;
  transition: 0.5s;

  }

.centeredItem {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
}

::-webkit-input-placeholder {
  text-align: center;
}

.mainButton:link,
.mainButton:visited {
  border-radius: 20px;
  background: linear-gradient(to right, #1a7474 0%, #751581 100%);

  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.mainButton:hover,
.mainButton:active {
  background: linear-gradient(to right, #30cfd0 0%, #db26f4 100%);
}
