.divRank {
  margin: 10px;
}

h2 {
  justify-self: center;
  align-self: center;
}

img {
  width: 100px;
  height: 100px;
}

.tableRank {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  justify-self: center;
  align-self: center;
  background-color: #001d32;
  height: 450px;
}

.tableRank thead {
  display: table-header-group;
}

.tableRank tr:nth-child(even) {
  background: #002946;
}
.tableRank tr:hover {
  background-color: #0a335c;
}

.tableRank tbody {
}

.tableRank tr {
  border:solid 1px black;

}

.tableRank th{
  border:solid 1px black;
}

.tableRank td,
th {
  padding: 1em;
  text-align: center;

}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.pagination .pageNumber {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  margin: 3px;
  color: white;
  border-radius: 10px;
  background: #202d52;
  border: none;
  outline: none;
}

.pagination button:hover {
  background: #344985;
}

.pagination button:disabled {
  background: #5d5e61;
}

.pagination input {
  border: none;
  outline: none;
  border-radius: 3px;
  border-bottom: solid 2px white;   
  position: relative;
  color: white;
  background: transparent;
  display: inline-block;
}

.customSelect {
  border: none;
  border:solid 1px white;
  outline: none;
  border-radius: 3px;
  color: white;
  background: transparent;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
