.divProperties {
    margin: 10px;
}

h2 {
    justify-self: center;
    align-self: center;
}

.tableProperties {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    justify-self: center;
    align-self: center;
    background-color: #001d32;
    height: 450px;
}


.tableProperties th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: white;
    border-color: white;
}

.tableProperties td {
    text-align: left;
    padding: 1rem;
    width:100%;
}

.tableProperties tr {
    width: 100%;
}

.tableProperties tr:nth-child(even){
    background: #002946
}

.tableProperties tr:hover{
    background-color: #0A335C;
}

.tableProperties tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    overflow-y: hide;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}