.centeredContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoHeader {
    
    font-size: 72px;
    background: linear-gradient(to right, #30CFD0 0%, #DB26F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}